body{
    background-color: peachpuff;
    /*display:flex;*/
    margin: 0;
    padding: 50px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    border: 1px solid #b0b0b0;
    width: fit-content;
    padding: 20px;
    border-radius: 30px;
}
.arrow{
    display: flex;
    height: inherit;
    min-width: 30px;
    background-repeat:no-repeat;
    background-position: center center;
    /* border: 1px solid gray; */
}
.arrow.right{
    background-image: url("./img/right_arrow.svg");
}
.arrow.left{
    background-image: url("./img/left_arrow.svg");
}
.photo{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    height: inherit;
}
.photo img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    /*overflow: auto;*/
    object-fit: contain;
}

.picture {
    display: flex;
    flex-basis: 15%;
    background: black;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}
.picture.main {
    height: 125%;
    position: relative;
    top: -12.5%;
}