body{
    background-color: peachpuff;
    /*display:flex;*/
    margin: 0;
    padding: 160px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 200px;
    border: 1px solid #b0b0b0;
    width: fit-content;
    /*padding: 20px;*/
    border-radius: 30px;
    /* gap: 15px; */
}
.photo-container{
    width: 516px;
    overflow: hidden;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow{
    display: flex;
    height: inherit;
    min-width: 35px;
    background-repeat:no-repeat;
    background-position: center center;
    cursor: pointer;
    background-size: 70%;
    transform: scale(1);
    transition:transform 0.3s ease 0s;
    /* border: 1px solid gray; */
    padding: 10px;
}
.arrow:hover{
    /*background-size: 100%;*/
    transform: scale(1.2);
}
.arrow.right{
    background-image: url("./img/right_arrow.svg");

}
.arrow.left{
    background-image: url("./img/left_arrow.svg");
}
.photo{
    display: flex;
    /*gap: 10px;*/
    justify-content: space-between;
    height: 185px;
    align-items: center;
    width: 843px;
    flex-shrink: 0;
    position: relative;
    left: 0;
    /* right: 106px; */
    transition: 0.3s ease;
}
.photo img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    /*overflow: auto;*/
    object-fit: contain;
}

.picture {
    display: flex;
    flex-basis: 15%;
    background: black;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 7px 20px 0 black;
    height: 80%;
}
.picture.main {
    height: 90%;
    position: relative;
    /* top: 0.5%; */
}
