body{
    background-color: peachpuff;

    margin: 0;
    padding: 160px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 200px;
    border: 1px solid #b0b0b0;
    width: fit-content;

    border-radius: 30px;

}
.photo-container{
    width: 516px;
    overflow: hidden;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

}
.arrow{
    display: flex;
    height: inherit;
    min-width: 35px;
    background-repeat:no-repeat;
    background-position: center center;
    cursor: pointer;
    background-size: 70%;
    transform: scale(1);
    transition:transform 0.3s ease 0s;

    padding: 10px;
}
.arrow:hover{

    transform: scale(1.2);
}
.arrow.right{
    background-image: url("./img/right_arrow.svg");

}
.arrow.left{
    background-image: url("./img/left_arrow.svg");
}
.photo{
    display: flex;
    gap: 25px;
    height: 185px;
    align-items: center;
    /* width: 777px; */
    flex-shrink: 0;
    position: relative;
    left: 0;
    transition: 0.3s ease;
    justify-content: center;
}
.photo img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

.picture {
    display: flex;
    flex-basis: 150px;
    background: black;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 7px 20px 0 black;
    height: 80%;
    flex-shrink: 0;
    flex-grow: 0;
}
.picture.main {
    height: 100%;
}
